.wrapper {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0px 10px;
}

body {
	font-family: Helvetica Neue;
}
/* header styles start */
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 50;
}

.header {
	background: #06131B;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	
}

.header__logo {
	margin: 9px 0px 9px 0px;
	flex: 0 0 62px;
}

.header__logo-img {
	max-width: 100%;
	display: block;
}

.header__menu {
	width: 490px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
}

.menu__list li a{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.header__instagram {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #132028;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__instagram-img {
	margin: 10px 10px;
}

.header__instagram-link {
	display: block;
	height: 100%;
}

.burger__menu{
	display: none;
}

/* header styles end */
/* title styles start */

.redtext {
	color: #F40B27;
}

.title {
	background: #06131B;
}

.title__wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.title__container {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

.title__content {
	padding-top: 85px;
	max-width: 653px;
}

.title__header {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 11px;
}

.title__subtitle {
	max-width: 473px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.title__startdate {
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 64px;
}

.title__entry {
	margin-bottom: 80px;
}

.title__entery-container {
	max-width: 233px;
	text-align: center;
}

/* button start */
.button {
	background: #F40B27;
	box-shadow: 2px 2px 5px rgba(244, 11, 39, 0.3);
	border-radius: 5px;
	display: inline-block;
}

.button a {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	display: block;
	padding: 10px 30px;
}
/* button end */
.button__subtitle {
	margin-top: 11px;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.title_background-img {
	display: block;
	height: 100%;
	width: 100%;
}

.sex {
	background: white;
	height: 1000px;
}
/* title styles end */